<footer class="footer">
    <div class="footer-content">
        <a
                class="navbar-brand"
                placement="bottom"
                [routerLink]="['/stores']"
                tooltip="Games Stores"
        >
            <span> Games </span> Stores
        </a>

        <nav class="footer-menu">
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a
                            class="nav-link"
                            href="https://www.linkedin.com/in/ruben-martinez-bermejo/"
                            placement="bottom"
                            target="_blank"
                            tooltip="Follow me on Linkedin"
                    >
                        <i class="fab fa-linkedin"> </i>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a
                            class="nav-link"
                            href="https://github.com/rumabe97"
                            placement="bottom"
                            target="_blank"
                            tooltip="Follow me on Github"
                    >
                        <i class="fab fa-github"> </i>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a
                            class="nav-link"
                            href="https://mail.google.com/mail/?view=cm&fs=1&to=rumabe97@gmail.com"
                            placement="bottom"
                            target="_blank"
                            tooltip="Send me an Email"
                    >
                        <i class="fab fa-google"> </i>
                    </a>
                </li>
            </ul>
        </nav>

        <p class="copyright">© 2025. Ruben Martinez Bermejo. All rights reserved.</p>
    </div>
</footer>
