.card.card-coin .card-header {
  margin: -100px auto 0px;
}

.card.card-coin img {
  width: 150px;
  height: 150px;
}

.card.card-coin{
  margin-top: 5rem;
}
.table-responsive {
  overflow: hidden;
}

.title {
  text-align: center;
}

.link{
  gap: .75rem;
}