.card.card-coin .card-header {
  margin: -100px auto 0px;
}

.card.card-coin img {
  width: 150px;
  height: 150px;
}

.card.card-coin {
  margin-top: 5rem;
}

.table-responsive {
  overflow: hidden;
}

.title {
  text-align: center;
}

.link {
  gap: .75rem;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}